
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="stylesheet" href="/assets/device.css"/>
  <title>SVR FARMS - TN-Cities</title>
  <script src="/assets/jquery.min.js"></script>
  <script>


    $(function() {


      var pull = $('#pull');


      var menu = $('nav ul');


      $(pull).on('click', function(e) {


        e.preventDefault();


        menu.slideToggle();


      });


      $(window).resize(function() {


        var w = $(window).width();


        if (w > 320 && menu.is(':hidden')) {


          menu.removeAttr('style');


        }


      });


    });


  </script>


  <style>


    body{

      background:url(/assets/mobbgh.jpg) no-repeat;


      background-size:1200px 100%;


    }


  </style>


</head>


<body>


  <div class="container">


    <nav class="clearfix">
      <a href="#" id="pull">SVR FARMS</a>
      <ul class="clearfix">
        <li><a href="/home/main_home">Home</a></li>
        <li><a href="/home/aboutus_mobile">About Us</a></li>
        <li><a href="/home/services_mobile">Services</a></li>
        <li><a href="/contactus/new">Contact Us</a></li>
      </ul>
    </nav>


    <br />


    <h1>Choose a City to Explore</h1>   <br />

    <div class="city1">
      <a href="<%=land_home_index_path%>">
        <img  src="/assets/img-city8.png"  />

        <h2>Anantapur</h2>

      </a>
    </div>

    <div class="city1">
      <a href="<%=land_home_index_path%>">
        <img src="/assets/img-city9.png" />
        <h2>Chittoor</h2>
      </a>
    </div>


    <div class="city1">
      <a href="<%=land_home_index_path%>">
        <img  src="/assets/hindupur.jpeg"/>
        <h2>Hindupur</h2>
      </a>
    </div>

    <div class="city1" >
      <a href="<%=land_home_index_path%>">
        <img src="/assets/madanapalle.jpeg"/>
        <h2>Madanapalli</h2>
      </a>
    </div>




    <div class="city1">
      <a href="<%=land_home_index_path%>">
        <img src="/assets/penukonda.jpeg"/>
        <h2>Penukonda</h2>
      </a>
    </div>






    <br />   <br />   <br />   <br />


    <div class="property-btn">
      <span style="padding:10px; color:#000;">We are adding 100's of Property a day</span>
      <br />
      <a href="/properties/new" class="property-select">    
        <button>Post Your Requirement</button>
      </a>
    </div>


    <footer>
      <ol>
        <li><a href="/home/aboutus_mobile" title="ABOUT US">About Us</a> </li>
        <li><a href="/home/services_mobile">Services</a></li>
        <li><a href="/contactus/new">Contact us</a> </li>
        <li><a href="">Privacy Policy</a> </li>
      </ol>
    </footer>

    <div class="copyright">
      Copyright 2014. All Rights Reserved.
    </div>

  </div>

</body>
