<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Housing</title>
  <link href="css/default.css" rel="stylesheet" type="text/css">
</head>
<body class="homepage">
  <header>
    <div class=""  style="background:#A0B49B">
      <div class="container" style="background:#D5D8D4;border-radius:4px;"> <a href="#" title="" id="logo"><%=  image_tag("logo.png", :alt => 'logo.png')%></a>
        <div class="row">
          <div class="navbar-header" style="background:#CCC">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span></button>
          </div>
          <div class="navbar-collapse collapse">
            <ul id="navigation">
              <li class="active"><a href="/home/home1" title="HOME">Home</a></li>
              <li><a href="#" title="ABOUT US">About us</a></li>
              <li><a href="#" title="SERVICES">Services</a></li>
              <li><a href="#" title="CONTACT US">Contact us</a></li>
            </ul>
            <ul id="navigation">
              <% if user_signed_in? %>
                <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn-login' %></li>
              <% else %>
                <li><%= link_to "LOGIN", new_user_session_path,:class => 'btn-login' %></li>
              <%end%>
              <li><li><%= link_to "SIGNUP", new_user_registration_path,:class =>'btn-login' %> </li>
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              <% end %>
          </div>
        </div>
        <div class="clearF"></div>
      </div>
      <div class="container">
        <div class="content-banner">
          <h1>Choose A City to Explore</h1>
          <p>Find rentals, resale, agents, PGs, new projects and land plots across 25 cities in India.</p>
          <p>More coming soon!</p>
        </div>
        <div class="box-city">
          <div class="row">
            <ul class="ch-grid">
              <% @cities = ["Mumbai","Hosur","Bangalore","Hyderabad","Chennai","Chittor","Kanakapur","Mysore","Coorg","Chickamagalpur","Anantapur"] %>
              <% @cities.each_with_index do |name, index| %>
                <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                  <div class="ch-item">
                    <div class="ch-info">
                      <div class="ch-info-front ch-img-<%= index+1%>"></div>
                      <div class="ch-info-back">
                        <h3><%= link_to name, land_home_index_path(:city => name), :style => 'color: white;' %></h3>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="clearF"></div>
          <p><a href="#" title="MORE CITIES" class="btn-login btn-more-cities">More Cities</a> <a href="#" title="READ MORE" class="btn-login btn-more-cities">Read More</a></p>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="box-welcome">
        <h1>Housing experience</h1>
        <p>Living on campus at HBU is an integral part of your educational experience. Our on-campus housing provides living and learning environments with opportunities to grow spiritually, develop interpersonal skills, increase understanding of diverse cultures and learn self-discipline in organizing time for study, work and social activities</p>
      </div>
      <div class="box-features">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span><i class="fa fa-check"></i></span> </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
              <h4>Lorem Ipsum </h4>
        <p>Living on campus at HBU is an integral part of your educational experience. </p>            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span><i class="fa fa-building-o"></i></span> </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
              <h4>There are many</h4>
        <p>Living on campus at HBU is an integral part of your educational experience.</p>            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span><i class="fa fa-smile-o"></i></span> </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
              <h4>Contrary to popular</h4>
        <p>Living on campus at HBU is an integral part of your educational experience.</p>            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="box-media">
          <h1>Our Media</h1>
          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%=  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%=  image_tag("img-media.png", :alt => 'img-media.png')%></div>
          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%=  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%=  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%=  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
          <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%=  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
        </div>
      </div>
      <div class="clearF"></div>
    </div>
  </article>
  <footer>
    <div class="container">
      <div class="row">
        <ul class="list-footermenu">
          <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
            <h4>About us</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>            
          </li>
          <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#" title="Our History">Our History</a></li>
              <li><a href="#" title="Store Locations">Store Locations</a></li>
              <li><a href="#" title="Food Service">Food Service</a></li>
              <li><a href="#" title="Store Events">Store Events</a></li>
              <li><a href="#" title="Careers">Careers</a></li>
            </ul>
          </li>               
          <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#" title="Contact Us">Contact Us</a></li>
              <li><a href="#" title="FAQ">FAQ</a></li>
              <li><a href="#" title="Return Policy">Return Policy</a></li>
              <li><a href="#" title="Shipping Policy">Shipping Policy</a></li>
              <li><a href="#" title="Privacy Policy ">Privacy Policy </a></li>
            </ul>        
          </li>
          <li class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <h4>Lorem Ipsum</h4>
            <ul>
              <li><a href="#" title="Create a Lorem ipsum">Create a Lorem ipsum</a></li>
              <li><a href="#" title="Manage Your Lorem ipsum">Manage Your Lorem ipsum</a></li>
              <li><a href="#" title="Find a Lorem ipsum">Find a Lorem ipsum</a></li>
              <li><a href="#" title="FAQ">FAQ</a></li>
            </ul>
          </li>        
        </ul>
      </div>
      <div class="clearF"></div>                        
    </div>
    <div class="copyright">
      <div class="container"> 
        <div class="row"> 
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>&copy; Copyright 2013. All Right Reserved.</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">          
            <ul class="list-privacy">              
              <li><a href="#" title="Privacy policy">Privacy policy</a></li>
              <li><a href="#" title="Terms &amp; conditions">Terms &amp; conditions</a></li>                    
            </ul>
          </div>        
        </div>
        <div class="clearF"></div>  
      </div> 
    </div>
  </footer>
</body>
</html>

<script>
  $(document).on("click", ".ch-info-back", function() {
    //var address = $(".ch-info-back h3").html();
    var lat = $(this).data("lat");
    var lon = $(this).data("lon");
    var city = $(this).data("city");
    location.href = "/home/land?lat=" + lat + "&lon=" + lon + "&city=" + city;
  });
</script>
</body>