<div class="home-bnr">
  <div class="container">
    <div class="content-banner">
       <% if params[:state].present? %>
      <h1>Choose A City to Explore</h1>
      <%else%>
        <h1>Choose A State to Explore</h1>
          <% end %>
    </div>
    <div class="box-city">
              <div class="row" style="<%= params[:state] ? params[:state] == 'KA' ? ' ' : params[:state]=='AP' ? 'position: relative;' : ' ' : 'position: relative;left: 100px;'%>">
          <ul class="ch-grid">
          <% @states = [["Tamilnadu","TN"],["Karnataka","KA"],["Andhra Pradesh","AP"]] %>
          <% @cities = params[:state] == 'KA' ? [["Bangalore","12.97","77.59"],["Kanakapur","12.550","77.4170"],["Mysore","12.3106457","76.6356898"],["Tumakuru","13.340","77.100"],["Chikkaballpur","13.43","77.72"],["Gauribidanur","13.59","77.52"],["Kolar","13.13","78.13"],["Bhagepalli","13.78","77.79"]] : params[:state] == 'AP' ? [["Anantapur","14.67","77.59"],["Chittoor","13.21","79.100"],["Hindupur","13.83","77.49"],["Kadri","14.1138","78.161218"],["Madanapalli","13.55","78.50"],["Penukonda","14.08","77.58"]] : [["Berigai","12.805668","77.9713"],["Jawalgiri","12.51753","77.643835"],["Hosur","12.73","77.83"],["Denkanikottai","12.53","77.79"],["Thally","12.58","77.66"],["Bagalur","12.85","77.83"],["Kelamangalam","12.60","77.85"],["Shoolagiri","12.66","78.01"]] %>
          <% @sts = params[:state].present? ? @cities : @states %>
          <% if !params[:state].present? %>
            <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
              <div class="ch-item">
                <div class="ch-info">
                </div>
              </div>
            </li>
          <% end %> 
          <% @sts.each_with_index do |name, index| %>
            <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
              <div class="ch-item">
                <div class="ch-info">
                  <div class="ch-info-front">
                    <h3><%= link_to name[0], params[:state] ? land_home_index_path(:city => name[0], :lat => name[1], :lon => name[2], :type => params[:type]) : home_index_path(:state => name[1], :type => params[:type]), :style => 'color: white;font-size: 14px;' %></h3>
                  </div>
                  <div class="ch-info-back <%= params[:state] %> ch-img-<%= index+1 %>" onclick="javascript: location.href = <%= "'#{params[:state] ? land_home_index_path(:city => name[0], :lat => name[1], :lon => name[2], :type => params[:type]) : home_index_path(:state => name[1], :type => params[:type])}'" %>">
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="clearF"></div>
      <% if params[:state].present? %>
      <% if params[:state]== 'AP' %>
         <a href="#" class="div1 btn-login btn-more-cities" style="padding:1px 13px ;  margin-left: 56px;">Nellore
           </a>
         <a href="#" class="div2 btn-login btn-more-cities" style="padding:1px 13px";>Chirala
         </a>
      
      <% elsif params[:state]== 'KA' %>
      <a href="#" class="div1 btn-login btn-more-cities" style="padding:1px 13px; margin-left: 56px;">Tumkur
           </a>
         <a href="#" class="div2 btn-login btn-more-cities" style="padding:1px 13px;">Doddaballapur
         </a>
      <% elsif params[:state]== 'TN' %>
            <a href="#" class="div1 btn-login btn-more-cities" style="padding:1px 13px;">Perambalur
           </a>
         <a href="#"  class="div2 btn-login btn-more-cities" style="padding:1px 13px;">Chidambaram
         </a>
      <% end %>
       <p><a href="#" id="btn-click" class="btn-login btn-more-cities click ">More Cities</a> </p>
      <% else %>
        <a href="#" class="div1  btn-login btn-more-cities" style="padding:1px 13px;">Maharashtra
           </a>
         <a href="#" class="div2  btn-login btn-more-cities" style="padding:1px 13px;">Kerala
         </a>
         <p><a href="#" id="btn-click1" class="btn-login btn-more-cities click1  ">More States</a> </p>
      <% end %>
    </div>
  </div>
</div>

  <%#*<div class="container">%>
    <%# if params[:type]== "agriculture" %>
      <%#*<h1>Agriculture Land Experience</h1>%>
      <%#*<p>SVR Farms is a Real Estate Portal Which allows You to Search for Lands, Commercial Lands, Agriculture Lands,  Apartments for Sale. Take Virtual Tours of each Room in the flat using the Photographs We have meticulously Collected.</p>%>     
      <%# elsif params[:type]== "farm" %>
      <%#*<h1>Farm Land Experience</h1>%>
      <%#*<p>SVR Farms is a Real Estate Portal Which allows You to Search for Lands, Commercial Lands, Agriculture Lands,  Apartments for Sale. Take Virtual Tours of each Room in the flat using the Photographs We have meticulously Collected.</p>%>     
       <%# elsif params[:type]== "commercial" %>
      <%#*<h1>Commercial Land Experience</h1>%>
      <%#*<p>SVR Farms is a Real Estate Portal Which allows You to Search for Lands, Commercial Lands, Agriculture Lands,  Apartments for Sale. Take Virtual Tours of each Room in the flat using the Photographs We have meticulously Collected.</p>%>     
       <%# elsif params[:type]== "industrial" %>
      <%#*<h1>Industrial Land Experience</h1>%>
      <%#*<p>SVR Farms is a Real Estate Portal Which allows You to Search for Lands, Commercial Lands, Agriculture Lands,  Apartments for Sale. Take Virtual Tours of each Room in the flat using the Photographs We have meticulously Collected.</p>%>     
       <%# elsif params[:type]== "barren" %>
      <%#*<h1>Barren Land Experience</h1>%>
      <%#*<p>SVR Farms is a Real Estate Portal Which allows You to Search for Lands, Commercial Lands, Agriculture Lands,  Apartments for Sale. Take Virtual Tours of each Room in the flat using the Photographs We have meticulously Collected.</p>%>     
       <%# elsif params[:type]== "residential" %>
      <%#*<h1>Residential Land Experience</h1>%>
      <%#*<p>SVR Farms is a Real Estate Portal Which allows You to Search for Lands, Commercial Lands, Agriculture Lands,  Apartments for Sale. Take Virtual Tours of each Room in the flat using the Photographs We have meticulously Collected.</p>%>     
       <%# elsif params[:type]== "jointventure" %>
      <%#*<h1>Joint Venture Experience</h1>%>
      <%#*<p>SVR Farms is a Real Estate Portal Which allows You to Search for Lands, Commercial Lands, Agriculture Lands,  Apartments for Sale. Take Virtual Tours of each Room in the flat using the Photographs We have meticulously Collected.</p>%>     
      <%#end%>
  <%#*</div>%>









<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style type="text/css">
  
  
.div1{
	position:absolute;	
	
 left:650px;
         top:546px;
}

.div2{
	position:absolute;
	 left:650px;
         top:546px;
	}
	.click{position:absolute;
	 left:579px;
         top:546px;
        }
        .click1{position:absolute;
	 left:579px;
         top: 545px;
        }
</style>
<script> 
$(document).ready(function(){
  $("#btn-click").click(function(){
	   $(".div1").show();
	   $(".div2").show();
    $(".div1").animate({left:'425px' });
	$(".div2").animate({left:'750px'});
  });
});
</script> 
<script> 
$(document).ready(function(){
  $("#btn-click1").click(function(){
	   $(".div1").show();
	   $(".div2").show();
    $(".div1").animate({left:'418px' });
	$(".div2").animate({left:'756px'});
  });
});
</script> 
<script>
$(document).ready(function(){
	 $(".div1").hide();
	  $(".div2").hide();
    
});
</script> 

