<article>	
  <div class="main-breadcrumb">
    <ol class="breadcrumb">
      <li><a href="/home/main_home" title="Home">Home</a><i class="fa fa-chevron-right"></i></li>
      <li><a href='/home/land?lat=<%= @lat %>&lon=<%=@lon%>&city=<%= @city %>' title="Mumbai"><%= @city %></a><i class="fa fa-chevron-right"></i></li>
      <li class="active"></li>
    </ol>
  </div>

  <div class="left-column"> 
    <div class="right-column">    
      <p class="remove-spacing">
        <button type="button" class="bars-btn"><span> <i class="fa fa-bars"></i></span></button>
        <span class="text-results"><%= @properties.count %> Results</span>
      </p>

      <div class="box-result results-collapse contentResult" style='z-index: 1000;'>
        <%= select_tag :price, options_for_select([["select"],["sortable Sorted by: Price (Low to High)","low"],["sortable Sorted by: Price (High to Low)","high"],["location ascending order","lasc"],["Location desending order","lsdc"]]),:class => "price-area",:onchange => "show_this(this.value);" %>    
        <div id ="asc_dsc">
          <%= render :partial => "asc_dsc" %>
        </div>
      </div>
    </div> 

    <div style='width: 912px;'  class="img_map" style="margin-left: 10px;">
      <div id="map" style='width:912px; height: 590px;'></div>
    </div>
  </div>  

  <div class="clearF"></div>        	
</article>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<style>
  div.map_container_renamed #map {
    width: 100%;
    height: 650px;
  }

  div.map_container_renamed {
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 70%;
  }
</style>

<script>
  function show_this(price) {
    var city = '<%= @city %>';
    $.ajax({
      url: "/home/land",
      type: "get",
      dataType: "script",
      data: {
        price: price,
        city: city
      },
      success: function(data) {
      }
    });
  }
</script>

<script type="text/javascript">
  var locations = <%= raw @hash.to_json %>;
  var handler = Gmaps.build('Google');
  var mapOptions = {mapTypeId: google.maps.MapTypeId.SATELLITE};
  handler.buildMap({provider: mapOptions, internal: {id: 'map'}}, function() {
    markers = handler.addMarkers(
    locations
    );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>