<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>Welcome To SVR Group	</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo1.png" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/style-1.css">
    <style>
      a.property-select{ color:#FFFFFF; background:#4BB285; border:1px #CCC solid; padding:10px 25px 10px 25px; font-size:13px;}
      a.property-select:hover{ color:#FFFFFF; background:#333333; border:1px #CCC solid;}
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body data-spy="scroll" data-target=".main-nav" data-offset="70">

    <div class="mt-sidebar"> 
      <span class="close-mt-sidebar"><i class="fa fa-caret-left"></i> Close Sidebar</span> 
      <nav class="main-nav"></nav>      
    </div>

    <div class="slider-wrapper fullscreen">
      <div class="slide_bg" data-stellar-background-ratio="0.3">
        <div class="container"> 
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h1 style="color:#FFF; margin-top:0px;"><a href="<%= home_index_path %>"><img src="/assets/logo.png" class="logo_new"></a></h1>
                <div class="project-container">
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path(:type=>"agriculture") %>" class="property-select">Agriculture Lands</a></div>
                  </div>
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path(:type=>"farm") %>" class="property-select">Farm Land</a></div>
                  </div>
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path(:type=>"commercial") %>" class="property-select">Commercial Lands</a></div>
                  </div>
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path(:type=>"industrial") %>" class="property-select">Industrial Land</a></div>
                  </div>
                  
                         <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path(:type=>"residential") %>" class="property-select">Residential Lands</a></div>

                  </div>
                  
                  
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path(:type=>"barren") %>" class="property-select">Barren Land</a></div>
                  </div>
                  
                  
                  
           
                  <!-- &nbsp;&nbsp; &nbsp;&nbsp;        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  -->

                </div>

                <div id="sliderFrame">
                  <div id="slider">
                    <a href="" target="_blank">
                      <img src="/assets/img/file0001811490083_small.jpg" alt="Agriculture Lands" />
                    </a>
                    <img src="/assets/img/agriculture.jpg" alt="Farm Lands" />
                    <img src="/assets/img/commercial.jpg" alt="Commercial Lands" />
                    <img src="/assets/img/industrial-land1.jpg" alt="Industrial Land" />
                    <img src="/assets/img/residential.jpg" alt="Residential Land"  />
                    <img src="/assets/img/barren-land.jpg" alt="Barren Land"  />
                  </div>
                  <div id="htmlcaption" style="display: none;">

                  </div>
                </div>


                <div class="jsa">



                  <table>

                    <th>

                    <div class="btn btn-facebook" style="margin-left: -380px;"> <a  href="http://www.facebook.com">   <i class="fa fa-facebook"></i> </a></div>
                    <div class="btn btn-twitter" style="margin-left: -340px;">	<a  href="http://www.twitter.com"> <i class="fa fa-twitter"></i> </a></div>
                    <div class="btn btn-google" style="margin-left: -300px;"><a  href="https://plus.google.com"> 	<i class="fa fa-google-plus"></a></i> </div> 

                    </th>

                    <th>
                    <div class="project-type">
                      <div class="text-label">
                        <a href="#" class="property-select"  onclick="javascript: signup();">Post Requirements</a>
                      </div>
                    </div>

                    </th>

                    <th>

                    <div class="project-type">
                      <div class="text-label">
                        <a href="/properties/new" class="property-select">List Property</a></div>
                    </div>

                    </th>

                    <th> 


                    <div class="project-type">
                      <div class="text-label"><a href="<%= home_index_path(:type=>"jointventure") %>" class="property-select">Joint Venture</a></div>
                    </div>

                    </th>

                  </table>
                </div>


              </div>   

            </div>
          </div>




          <div class="clearF"></div>
        </div>


        <div class="topbar">     
          <center>
            <table>
              <tr>



                <td> <a href="/home/about_us" title="ABOUT US">About Us</a></td>
                <td> <a href="/home/privacy_policy" title="SERVICES">Services</a></td>
                <td><a href="/home/help" title="Help">FAQ</a></td>
                <td><a href="/contactus/new" title="CONTACT US">Contact us</a></td>


                </div>
              </tr>
            </table>
          </center>  
        </div>  
      
      
   <center>
  <%= device_test%>
  
  <% for_device_type :desktop do %>
  <h2>Desktop app</h2>
  <% end %>
  
   <% for_device_type :mobile do %>
  <h2>Mobile app</h2>
  <% end %>

</center>
      
      
      
        <div class="copyright">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p  style="color: white;">&copy; Copyright 2013. All Rights Reserved.</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">          

            <a href="#" title="Privacy policy" style="color:#fff; ">Privacy policy |</a>
            <a href="#" title="Terms &amp; conditions" style="color:#fff;">Terms &amp; conditions</a>                    

          </div>       
          <div class="clearF"></div>  
        </div>  

      </div>
    </div>

  </div>







  <div id='overlay' style='filter:alpha(opacity=50);' onclick="hide_popup();"></div>
  <div align='center' id='popup_box'>
    <div style='float: right; margin-top: -40px;margin-right:-40px'></div>
    <div id='popup_body' style='float:right'></div>
  </div>





  <script src="/assets/slider.js"></script>

  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim || (function(d, s) {
      var z = $zopim = function(c) {
        z._.push(c)
      }, $ = z.s =
              d.createElement(s), e = d.getElementsByTagName(s)[0];
      z.set = function(o) {
        z.set.
                _.push(o)
      };
      z._ = [];
      z.set._ = [];
      $.async = !0;
      $.setAttribute('charset', 'utf-8');
      $.src = '//v2.zopim.com/?2OWSpb300a7QhdmgX06eHgaNLPzM1JQD';
      z.t = +new Date;
      $.
              type = 'text/javascript';
      e.parentNode.insertBefore($, e)
    })(document, 'script');
  </script>
  <!--End of Zopim Live Chat Script-->

  <style>
    .jsa{

      position:absolute;
      left:380px;
      top: 630px; 

    }
    #overlay{
      display: none;
      background-color: #000000;
      height:500px;
      left:0;
      position:fixed;
      top:0;
      width:100%;
      z-index: 1000;
      width: 100000px;
      height: 941px;
      opacity: 0.7;
    }

    .overlay1{
      display: none;
      background-color: #000000;
      height:500px;
      left:0;
      position:fixed;
      top:0;
      width:100%;
      z-index: 1000;
      width: 100000px;
      height: 941px;
      opacity: 1.0;
    }

    #popup_box{
      display:none;
      height:auto;
      width: 450px;
      left:34%;
      margin: -220px 0 0 -250px;
      padding:15px;
      position:fixed;
      top:5%;
      z-index:2000;
      font-size: 15px;
    }



    .topbar {
      background: linear-gradient(to bottom, #2a9e61 0%, #3aba82 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      border-bottom: 1px solid #cbcbcb;
      margin: 0;
      padding: 0;
      width: 100%;

    }


    ul li{
      list-style-type:none;
    }
    .copyright {
      background-color: #2e2e2e;
      font-size: 12px;
      padding: 8px 0;
      width: 100%;
      position:absolute;

      top:761px;
    }

    .copyright p {
      padding-bottom: 0;
      padding:5px;
    }  
    td{
      padding:10px;
    }
  </style>
</body>
</html>