<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>Welcome To SVR Group	</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/style-1.css">
    <style>
      a.property-select{ color:#FFFFFF; background:#4BB285; border:1px #CCC solid; padding:10px 25px 10px 25px; font-size:13px;}
      a.property-select:hover{ color:#FFFFFF; background:#333333; border:1px #CCC solid;}
    </style>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body data-spy="scroll" data-target=".main-nav" data-offset="70">
    <div class="mt-sidebar"> 
      <span class="close-mt-sidebar"><i class="fa fa-caret-left"></i> Close Sidebar</span> 
      <nav class="main-nav"></nav>      
    </div>


    <div class="slider-wrapper fullscreen">
      <div class="slide_bg" data-stellar-background-ratio="0.3">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h1 style="color:#FFF; margin-top:0px;"><a href="<%= home_index_path %>"><img src="/assets/logo.png" class="logo_new"></a></h1>



                <div class="project-container">
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path %>"" class="property-select">Agriculture Lands</a></div>
                  </div>
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path %>" class="property-select">Farm Land</a></div>
                  </div>
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path %>" class="property-select">Commercial Lands</a></div>
                  </div>
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path %>" class="property-select">Industrial Land</a></div>
                  </div>
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path %>" class="property-select">Barren Land</a></div>
                  </div>
                  <div class="project-type">
                    <div class="text-label"><a href="<%= home_index_path %>" class="property-select">Residential Plots</a></div>

                  </div>
                  <!-- &nbsp;&nbsp; &nbsp;&nbsp;        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  -->
             
                </div>

                <div id="sliderFrame">
                  <div id="slider">
                    <a href="" target="_blank">
                      <img src="/assets/img/agriculture.jpg" alt="Agriculture Lands" />
                    </a>
                    <img src="/assets/img/file0001811490083_small.jpg" alt="Farm Lands" />
                    <img src="/assets/img/Gratiot-County-2013-130.jpg" alt="Commercial Lands" />
                    <img src="/assets/img/420667.jpeg" alt="Industrial Land" />
                    <img src="/assets/img/residential.jpeg" alt="Residential Land"  />
                  </div>
                  <div id="htmlcaption" style="display: none;">

                  </div>
                </div>




                <div class="jsa">
                  <table>
              
                    <th>
                                          <div class="project-type">
                          <div class="text-label">
                            <a href="#" class="property-select"  onclick="javascript: signup();">Post Requirements</a>
                          </div>
                        </div>
                                       
                      </th>

                      <th>
                        
                        <div class="project-type">
                          <div class="text-label">
                            <a href="#" class="property-select" onclick="javascript: signup1();">List Property</a></div>
                        </div>
                
                      </th>

                      <th> 

                         
                          <div class="project-type">
                            <div class="text-label"><a href="<%= home_index_path %>" class="property-select">Join Venture</a></div>
                          </div>
               
                      </th>
                  
                  </table>
              </div>
                
                <div class="btn btn-facebook"> <a  href="http://www.facebook.com">   <i class="fa fa-facebook"></i> </a></div>
                <div class="btn btn-twitter">	<a  href="http://www.twitter.com"> <i class="fa fa-twitter"></i> </a></div>
                <div class="btn btn-google"><a  href="https://plus.google.com"> 	<i class="fa fa-google-plus"></a></i> </div>
              </div>   

            </div>
          </div>
        </div>
      </div>
    </div>

    <div id='overlay' style='filter:alpha(opacity=50);' onclick="hide_popup();"></div>
      <div align='center' id='popup_box'>
        <div style='float: right; margin-top: -40px;margin-right:-40px'></div>
        <div id='popup_body' style='float:right'></div>
      </div>



    <script src="/assets/slider.js"></script>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
                      window.$zopim || (function(d, s) {
                        var z = $zopim = function(c) {
                          z._.push(c)
                        }, $ = z.s =
                                d.createElement(s), e = d.getElementsByTagName(s)[0];
                        z.set = function(o) {
                          z.set.
                                  _.push(o)
                        };
                        z._ = [];
                        z.set._ = [];
                        $.async = !0;
                        $.setAttribute('charset', 'utf-8');
                        $.src = '//v2.zopim.com/?2OWSpb300a7QhdmgX06eHgaNLPzM1JQD';
                        z.t = +new Date;
                        $.
                                type = 'text/javascript';
                        e.parentNode.insertBefore($, e)
                      })(document, 'script');
    </script>
    <!--End of Zopim Live Chat Script-->
    
    <style>
      .jsa{
        
        position:absolute;
        left:380px;
        top: 630px; 
        
      }
      #overlay{
        display: none;
        background-color: #000000;
        height:500px;
        left:0;
        position:fixed;
        top:0;
        width:100%;
        z-index: 1000;
        width: 100000px;
        height: 941px;
        opacity: 0.5;
      }
      
      .overlay1{
        display: none;
        background-color: #000000;
        height:500px;
        left:0;
        position:fixed;
        top:0;
        width:100%;
        z-index: 1000;
        width: 100000px;
        height: 941px;
        opacity: 0.5;
      }

      #popup_box{
        display:none;
        height:auto;
        width: 450px;
        left:34%;
        margin: -220px 0 0 -250px;
        padding:15px;
        position:fixed;
        top:5%;
        z-index:2000;
        font-size: 12px;
      }
    </style>
  </body>
</html>