<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= stylesheet_link_tag    'application',media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 
    <%= csrf_meta_tags %>
  </head>
  <body>
          <% if controller.action_name !="home1" %>

    <div class="row">
      <div class="span9"></div>
      <header>
        <div class="topbar">   
          <a href="#" title="" id="logo"></a>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span></button>
          </div>
          <div class="navbar-collapse collapse">              
            <ul id="navigation">	
              <li><a href="/home/home1" title="HOME">Home</a></li>
              <li><a href="#" title="ABOUT US">About us</a></li>
              <li><a href="#" title="SERVICES">Services</a></li>
              <li><a href="#" title="CONTACT US">Contact us</a></li>
            </ul>   
            <ul id="navigation">
              <% if admin_signed_in? %>
                <li> <%= link_to "Sign out", destroy_admin_session_path, :method => :delete, :class => 'btn-login' %></li>
         <% end %>
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              <% end %>
                
            </ul>   
          </div>        
          <div class="clearF"></div>
        </div> 
      </header>
   
    </div>
  
 <%  end %>

  
  <%= yield %>
      <%= yield :scripts %> 

  </body>
</html>
